<section class="section-header">
  <h1>Historia</h1>
  <p class="lead">Historiaan kertyvät tiedot palvelujen käytöstä, kun olet kirjautuneena sisään Helsinki-tililläsi.</p>
</section>
<section class="oma-admin-section">
  <div class="card">
    <div class="card-header">
      9.2.2018 - Kerrokantasi
    </div>
    <div class="card-body">
      <h5 class="card-title">Kirjautuminen</h5>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      11.3.2017 - Varaamo
    </div>
    <div class="card-body">
      <h5 class="card-title">Vinyylileikkuri ja lämpöprässi</h5>
      <p class="card-text">Varaus tehty varaamo.hel.fi.</p>
    </div>
  </div>
</section>
