<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-info">

              <header>
                <!--<img src="hel-logo.svg" class="logo">-->
                <h1 class="service-title">oma.helsinki</h1>
              </header>
              <h3>Kirjaudu oma.helsinki -tunnuksella</h3>
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your login email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
                </div>
                <a href="logged.html" class="btn btn-primary">Log in</a>
                <p class="doc">
                  Salasana unohtunut? Uusi salasanasi <a href="{{ '/pages/omahelsinki/index.html' | relative_url }}">tästä</a>.
                </p>
              </form>
              <br>
              <h3>Kirjaudu muun palvelun tunnuksilla</h3>
              <div class="hel-login-methods">
                <div class="login-methodlogin-method-fb">
                    <a href="logged.html"
                       class="btn btn-block btn-primary btn-social btn-fb">
                        <span class="fa fa-facebook"></span>
                        Facebook
                    </a>
                </div>
              </div>
              <br>
              <h3>Luo oma.helsinki -tunnus</h3>
              <p class="doc">
                Etkö ole vielä oma.helsinki käyttäjä? Luo uusi tunnus <a href="{{ '/pages/omahelsinki/index.html' | relative_url }}">tästä</a>.
              </p>

      </div>
    </div>
  </div>
</div>
