<section class="section-header">
  <h1 class="">Asetukset</h1>
  <P class="lead">Määrittele millaisia ja viestejä ja herätteitä oma.helsinki voi lähettää sinulle.</P>
</section>
<section class="oma-admin-section">
  <h2>Viestit</h2>
  <p>Aliquam quis vulputate nibh. Phasellus rhoncus maximus justo, vitae consequat ex scelerisque ac. Phasellus vel tortor est. Quisque ornare metus ipsum, a consequat nulla rutrum et. Etiam tempor elit sit amet iaculis consequat. Ut tincidunt justo et interdum porta. Nam interdum imperdiet quam nec dapibus.</p>
</section>
<section class="oma-admin-section">
<h2>oma.helsinki</h2>
</section>