<section class="section-header">
  <h1 class="">Asetukset</h1>
  <P class="lead">Määrittele millaisia ja viestejä ja herätteitä oma.helsinki voi lähettää sinulle.</P>
</section>
<section class="oma-admin-section">
  <h2>Viestit</h2>
  <p>Viesti sisältää asiointiisi tai tekemääsi toimenpiteeseen
liittyvää informaatiota.</p>
  <form>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Sähköpostilla
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Tekstiviestillä
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Helsinki-sovellukseen
        </label>
      </div>
    </div>
  </form>

  <h2>Ilmoitukset</h2>
  <p>Saat ilmoituksia valintasi mukaan esimerkiksi, kun sinulle on saapunut viesti tai alueellasi tapahtuu jotain sinua kiinnostavaa.</p>
  <form>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Sähköpostilla
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Tekstiviestillä
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Helsinki-sovellukseen
        </label>
      </div>
    </div>
  </form>
  <p>Haluan saada ilmoituksia</p>
  <form>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Minua kiinnostavista tapahtumista
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Minua kiinnostavien alueiden päätöksenteosta
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Kommenteista joita seuraan
        </label>
      </div>
    </div>
  </form>
</section>
