<nav class="navbar navbar-expand-lg navbar-light service-navbar">
  <a class="navbar-brand" href="oma.html">oma.helsinki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="oma.html#oma">Mikä oma.helsinki?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="oma.html#palvelut">Palvelut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="oma.html#apua">Apua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="oma-admin.html">Omat tiedot</a>
      </li>
    </ul>
  </div>
</nav>