<nav class="navbar navbar-expand-lg navbar-light service-navbar">
  <a class="navbar-brand" href="{{ '/pages/omahelsinki/index.html' | relative_url }}">oma.helsinki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ '/pages/omahelsinki/index.html#oma' | relative_url }}">Mikä oma.helsinki?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/pages/omahelsinki/index.html#palvelut' | relative_url }}">Palvelut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/pages/omahelsinki/index.html#apua' | relative_url }}">Apua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{{ '/pages/omahelsinki/oma-admin.html' | relative_url }}">Omat tiedot</a>
      </li>
    </ul>
  </div>
</nav>
