  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="footer-column col-md-4">
          Service Title
        </div>
        <div class="footer-column col-md-4">
          <div class="footer-branding footer-branding-helsinki">
            <a href="http://www.hel.fi">
              {% svg node_modules/hel-bootstrap-3/src/assets/helsinki-logo-white.svg width=150 foo="bar" %}
            </a>
          </div>
        </div>
        <div class="footer-column col-md-4">
          <div class="page-footer-block">
            <nav class="nav flex-column">
              <a class="nav-link active" href="#">Active</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link disabled" href="#">Disabled</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-column col">
          <div class="site-footer-small-print">
            <ul class="small-print-nav list-inline">
              <li class="list-inline-item">Creative Commons</li>
            </ul>
            <ul class="small-print-nav list-inline">
              <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a></li>
              <li class="list-inline-item"><a href="mailto:hri@hel.fi">Contact</a></li>
              <li class="list-inline-item">2018 Helsingin kaupunki</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>